<header class="topHeader-Main">
  <div class="topHeader-Inner-Content">
    <div class="topHeader-Inner-LeftArea">
      <!-- Custom SVG Toggle Button -->
      <div class="nav-toggle-btn" id="sidebarToggle">
        <svg
          id="burgerIcon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="nav-toggle-btn"
        >
          <!-- Collapsed default icon (list1) -->
          <path d="M15 12H3" />
          <path d="M17 18H3" />
          <path d="M21 6H3" />
        </svg>
      </div>

      <form class="topHeader-SearchArea">
        <input
          type="search"
          class="topHeader-SearchBox"
          placeholder="Search Projects..."
        />
        <i class="fa-solid fa-magnifying-glass topHeader-SearchIcon"></i>
      </form>
    </div>

    <div class="topHeader-Inner-RightArea">
      <div class="topHeader-Top-ClickButton" id="theme"></div>

      <div class="topHeader-Top-ClickButton">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-bell-icon lucide-bell"
        >
          <path d="M10.268 21a2 2 0 0 0 3.464 0" />
          <path
            d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"
          />
        </svg>
        <div class="topHeader-Top-Click-Badge">3</div>
      </div>

      <div class="CardGraph-ClickArea">
        <div class="topHeader-Profile">
          <img
            src="/assets/images/profile.jpg"
            class="topHeader-Profile-Image"
          />
          <div class="topHeader-Profile-Details">
            <span>Emma Müller</span>
            <span>Berlin, DE</span>
          </div>
          <i class="fa-solid fa-chevron-down topHeaerProfile-ArrowIcon"></i>
        </div>
      </div>
    </div>
  </div>
</header>
