<aside class="sideBar-Main">
  <div class="sideBar-Inner-Content">
    <div class="sideBar-TopArea">
      <a href="#" class="sideBar-Brand">
        <img src="/assets/images/logo.png" class="sideBar-Brand-Image" />
      </a>

      <i class="fa-solid fa-xmark sideBarClose-Mobile"></i>

      <div class="sideBar-UserProfile">
        <div class="sideBar-UserProfile-ImgPart">
          <div class="sideBar-UserProfile-ImgPart-Outer">
            <img
              src="/assets/images/profile.jpg"
              class="sideBar-UserProfile-Image"
            />

            <div class="sideBar-UserProfile-Active"></div>
          </div>
        </div>
        <div class="sideBar-UserProfile-TextPart">
          <a href="#" class="sideBar-UserProfile-Name">Emma Müller</a>
          <div class="sideBar-UserProfile-Designation">ADMINISTARATOR</div>
        </div>
      </div>
    </div>

    <div class="sideBar-ListArea">
      <ul class="sideBar-List">
        <li class="sideBar-Item">
          <a
            class="sideBar-Link"
            href="/pages//dashboard.html"
            data-route="/pages/dashboard.html"
          >
            <div class="sideBar-LinkFlex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="sideBar-LinkIcon"
              >
                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
                <path
                  d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
                /></svg
              ><span>Dashboard</span>
            </div>
          </a>
        </li>

        <li class="sideBar-Item">
          <a
            class="sideBar-Link"
            href="/pages/chat.html"
            data-route="/pages/chat.html"
          >
            <div class="sideBar-LinkFlex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="sideBar-LinkIcon"
              >
                <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
                <path d="M8 12h.01" />
                <path d="M12 12h.01" />
                <path d="M16 12h.01" /></svg
              ><span>Chat</span>
            </div>
          </a>
        </li>

        <li class="sideBar-Item">
          <a
            class="sideBar-Link"
            href="/pages/calendar.html"
            data-route="/pages/calendar.html"
          >
            <div class="sideBar-LinkFlex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="sideBar-LinkIcon"
              >
                <path d="M8 2v4" />
                <path d="M16 2v4" />
                <path
                  d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z"
                />
                <path d="M3 10h18" />
                <path d="M15 22v-4a2 2 0 0 1 2-2h4" /></svg
              ><span>Calendar</span>
            </div>
          </a>
        </li>

        <li class="sideBar-Item">
          <a class="sideBar-Link" href="#">
            <div class="sideBar-LinkFlex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="sideBar-LinkIcon"
              >
                <path
                  d="M12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83z"
                />
                <path
                  d="M2 12a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 12"
                />
                <path
                  d="M2 17a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 17"
                /></svg
              ><span>Pages</span>
            </div>
            <i class="fa-solid fa-chevron-down sideBar-ArrowIcon"></i>
          </a>

          <div class="sideBar-Submenu">
            <a
              href="/pages/innerpages/support.html"
              data-route="/pages/innerpages/support.html"
              class="sideBar-Submenu-Link"
              >Support</a
            >
            <a
              href="/pages/innerpages/faq.html"
              data-route="/pages/innerpages/faq.html"
              class="sideBar-Submenu-Link"
              >FAQ</a
            >
          </div>
        </li>

        <li class="sideBar-Item">
          <a
            class="sideBar-Link"
            href="/pages/setting.html"
            data-route="/pages/setting.html"
          >
            <div class="sideBar-LinkFlex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="sideBar-LinkIcon"
              >
                <path
                  d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                />
                <circle cx="12" cy="12" r="4" /></svg
              ><span>Setting</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
